.modal {
  display: flex;
  position: absolute;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.photo {
  max-width: 800px;
  width: 100%;
  height: 550px;
  position: absolute;
  object-fit: contain;
}

.btn_close {
  width: 40px;
  height: 40px;
  background-color: var(--color-details);
  border-radius: var(--border-radius);
  border: none;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  right: 120px;
  top: -50px;
  cursor: pointer;
}
