@keyframes slidein {
  from {
    left: -100px;
  }

  to {
    left: 0px;
  }
}

.menu {
  width: 20vw;
  height: 100%;
  background: var(--background-color-gradient);
  position: fixed;
  top: 15%;
  animation: slidein 0.5s ease-in-out forwards;
  animation-iteration-count: 1;
  border-radius: var(--border-radius);
  z-index: 100;
}

.title {
  margin: 0;
  padding: 10px;
  margin-top: 50px;
}

.btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  background-color: var(--color-details);
  border-radius: var(--border-radius);
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

.btn_reset {
  position: absolute;
  bottom: 120px;
  right: 10px;
  width: 145px;
  height: 25px;
  background-color: var(--color-details);
  border-radius: var(--border-radius);
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter {
  background-color: var(--color-details);
  color: var(--color-white);
  width: 100%;
  height: 50px;
  padding: 15px 5px;
  text-align: center;
  cursor: pointer;
}

.filter:hover,
.btn:hover,
.btn_reset:hover {
  background-color: var(--color-shadow-btn);
}

.filter:active,
.btn:active,
.btn_reset:active {
  border: var(--border-btn-active);
}

@media (max-width: 800px) {
  @keyframes slidein {
    from {
      left: -100px;
    }

    to {
      left: 30%;
    }
  }

  .menu {
    width: 40vw;
  }
}

@media (max-width: 366px) {
  @keyframes slidein {
    from {
      left: -100px;
    }

    to {
      left: 20%;
    }
  }

  .menu {
    width: 60vw;
  }

  .btn_reset {
    right: 5%;
  }
}
