.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: var(--border);
  margin-bottom: 16px;
  border-radius: var(--border-radius);
  box-shadow: 6px 4px 10px 5px rgba(34, 60, 80, 0.3);
  transition: 0.3s;
  height: 260px;
}

.card:hover {
  box-shadow: 6px 4px 10px 5px rgba(231, 232, 233, 0.318);

  .favorite,
  .unFavorite {
    display: inline;
  }
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 16px;
  margin-top: 7px;
  border-radius: var(--border-radius);
}

.about_block {
  display: flex;
  gap: 15px;
  position: relative;
}

.favorite {
  width: 30px;
  height: 35px;
  position: absolute;
  top: 3%;
  right: 3%;
  display: none;
  transition: 0.2s;
}

.unFavorite {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 3%;
  right: 3%;
  display: none;
  margin: 0;
  transition: 0.2s;
}

.favorite:hover,
.unFavorite:hover {
  transform: translateY(3px);
}

.title {
  font-size: 1.5rem;
  margin-bottom: 16px;
  color: var(--color-details);
  transition: 0.3s;
  text-align: center;
}

.title:hover {
  color: var(--color-white);
}
