.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-details);
  transition: 0.3s;
}

.title:hover {
  color: var(--color-white)
}
