.logo_block {
  display: flex;
  padding: 10px;
  align-items: center;
  max-width: 300px;
  width: 100%;
  z-index: 3;
}

.title {
  font-family: "Amatic SC", sans-serif;
  font-size: 48px;
  color: black !important;
  z-index: 3;
  margin: 20px;
}

.logo {
  width: 80px;
  height: 80px;
  z-index: 3;
}