.header {
  display: flex;
  justify-content: space-between;
}

.logo_block {
  display: flex;
  padding: 10px;
  align-items: center;
  max-width: 300px;
  width: 100%;
  z-index: 3;
}

.logo_none {
  display: none;
}

.title {
  font-family: "Amatic SC", sans-serif;
  font-size: 48px;
  color: black !important;
  z-index: 3;
  margin: 20px;
}

.logo {
  width: 80px;
  height: 80px;
  z-index: 3;
}

.favorites {
  width: 100px;
  height: 40px;
  margin: 35px 35px 0 0; 
  background-color: var(--color-details);
  color: var(--color-white);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

.favorites:hover {
  background-color: var(--color-shadow-btn);
}

.favorites:active {
  border: var(--border-btn-active);
}

@media (max-width: 400px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .favorites {
    margin: 0px;
  }
}