h2 {
  margin: 0 20px 20px 20px;
}

.photo {
  display: flex;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.info {
  position: relative;
}

.description_block {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 30px;
  width: auto;
  height: auto;
  min-width: 300px;
  max-width: 450px;
  max-height: 400px;
  background-color: hsla(0, 0%, 0%, 0.668);
  padding: 40px 20px 40px 20px;
  text-align: center;
  overflow-y: auto;
}

.description {
  font-size: 1.2rem;
  color: white;
  max-height: 400px;
}

.buildings_block {
  margin: 30px;
  text-align: center;
}

.buildings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
}

@media (max-width: 780px) {
  .photo {
    object-fit: cover;
  }
  .description_block {
    position: static;
    width: 100%;
    max-width: 760px;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .buildings {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}