@keyframes slidein {
  from {
    top: 660px;
  }

  to {
    top: 680px;
  }
}

.container {
  display: flex;
  background: var(--background-color-gradient);
  position: absolute;
  animation: slidein 1s ease-in-out forwards;
  animation-iteration-count: 1;
}

.list {
  list-style-type: none;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  align-items: center;
  text-align: center;
}

.city {
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
  color: white;
}

.city:hover {
  color: var(--color-details);
}

@media (max-width: 750px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    height: 400px;
  }
}

@media (max-width: 465px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    height: 600px;
  }
}

@media (max-width: 375px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    height: 730px;
  }

  @keyframes slidein {
  from {
    top: 700px;
  }

  to {
    top: 720px;
  }
}
}
