:root {
  --background-color-gradient: linear-gradient(45deg, #6a85b6, #bac8e0);
  --border: 2px solid rgb(229, 232, 240);
  --shadow-card-info: 1px 1px 5px 3px rgb(51, 51, 51);
  --border-radius: 5px;
  --color-details: #40516f;
}

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background: var(--background-color-gradient);
}